<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="..\public\img\favicon.ico">

    <title>RealBot</title>
    <!-- Custom styles for this template;  this is linked from app.js calling app.use(/public/css)-->
    <link href="dashboard.css" rel="stylesheet">
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="bootstrap.css">
    <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"> -->
    <link href="DataTables/css/DT_bootstrap.css" rel="stylesheet">
    <link href="DataTables/tool/responsive/css/datatables.responsive.css" rel="stylesheet">
    <script src="jquery-1.12.4.js"></script>
    <script src="DataTables/jquery.dataTables.min.js"></script>
    <script src="DataTables/tool/responsive/js/datatables.responsive.js"></script>
 
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="fbconnect.js"></script> 
   </head>

  <body>
      <div class="dashboard-container d-flex h-100 w-100 flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">RealBot</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Try</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="/logout">Log out</a>
          </nav>
        </div>
      </header>


  