<% include ./_layouts/adminheader.ejs %>
<main class="p-2" role="main">
  <p class="cover-heading">Congratulations! </p>
  <p>You are on your way to bot-awesomeness!</p>
  <br>
  <p>You and your broker in charge will receive an
  email from DocuSign so you can sign the official
  IDX paperwork with your MLS system. Be on
  the look out for this in the next few minutes</p> 
  <br>
  <p>Kick back, our team has your info and will reach
  out once we have processed through all the
  paperwork. </p>
  <br>
  <p>Welcome to the RealBot team!</p>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/dashboard" class="btn btn-primary" name="submit" value="Dashboard">Dashboard</a>
    </div>
  </div>
<script>
$(document).ready(function() {
  

});
</script>

</main>
<% include ./_layouts/adminfooter.ejs %>

