<% include ./_layouts/header.ejs %>
<main role="main" class="inner cover">
  <h1 class="cover-heading">Real Estate marketing at scale</h1>
    <p class="lead"> RealBot is your virutal assistant who never sleeps (or asks for a raise). Lock in leads quickly - helping potential clients search for a home in a nationwide MLS service.</p>
    <p class="lead">    
      <a href="/auth/facebook" class="btn btn-lg btn-secondary"><span class="fa fa-facebook"></span> Get Started!</a>
    </p>
</main>

<% include ./_layouts/footer.ejs %>

